*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #0055ff;
    background-image: url(/assets/img/Blusky.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.wrap{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.wrap .sidenav{
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 20px 0px;
    position: relative;
}

.wrap .sidenav h4{
    color: #fff;
    text-transform: uppercase;
    text-align: center;;
    margin-bottom: 30px;
}

.wrap .sidenav ul li{
    padding: 20px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid(255,255,255,0.05);
}

.wrap .sidenav ul li:hover{
    background: #bdb8d7;
}

.wrap .sidenav ul li a{
    color:white;
    display: block;
    text-decoration: none;
    font-size: 18;
}

.wrap .sidenav .logout{
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.wrap .sidenav .logout a{
    width: 100px;
    height: 50px;
    background: white;
    line-height: 45px;
    text-align: center;
    margin:0 5;
    border-radius: 5px;
    display: block;
    
}

.wrap .main{
    margin: 0 auto;
    position: relative;
}

.wrap .main .post{
    background-color: gainsboro;
    width: 400px;
    height:400px;
    position: relative;
    margin: 30px;
}

.wrap .main .post header{
    width: 100%;
    height: 65px;
    background: #cccccc;
    display: flex;
    padding-left: 8px;
    padding-top: 8px;
}

.wrap .main .post .propic{
    background: grey;
    width: 50px;
    height:50px;
    border-radius: 100px;
    border: 3px solid;
    padding-left: 2px;
    text-align: left;
}

.wrap .main .post .message{
    text-align: left;
    padding-top: 10px;
}

.wrap .main .post .lnd{
    width: 50px;
    height: 335px;
    background-color: currentColor;
    padding-left: 5px;
    padding-top: 5px;
}

.wrap .main .post .lnd .button{
    border: none;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.wrap .main .post .image img{
    width: 250px;
    height: 250px;
    margin-left: 100px;
    margin-top: -300px;
}

.wrap .home{
    margin-left: 30px;
    margin-top: 20px;
    position: relative;
}

.wrap .home .kolum{
    display: flex;
    border: 10px solid #0040ff;
    width: 850px;
    height: 500px;
    border-radius: 10px;
    background-color: #1a53ff;
}

.wrap .home .kolum .row{
    display: flex;
    width: 450px;
    height: 100px;
    flex-direction: row;
   
}

.wrap .home .kolum .row .kategori{
    width: 800px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline;
}

.wrap .home .kolum a{
    width: 350px;
    height: 100px;
}

.wrap .home .kolum .row .kategori .box{
    display: flex;
    text-decoration: none;
    
}

.wrap .home .kolum .row .kategori .box .deskripsi{
    text-align: center;
    padding-top: 30px;
    width: 200px;
    height: 100px;
    background-color: #999999;
    text-decoration: none;
    color: black;
}

.wrap .home .kolum .row .kategori .box .picture{
    background-color: #a6a6a6;
    width: 150px;
    height: 100px;
    text-align: center;
    padding: 3px;
}

.wrap .home .kolum .row .kategori .box .picture img{
    width: 125px;
    height: 90px;
}